header {
  border-bottom: 1px solid #ededef;
}

.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-bar__icons img {
  width: 50px;
}

.info-bar__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-bar__icons div {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 10px;
  margin: auto;
  padding-left: 100px;
}
